{% extends "./base.html" %}
{% load bootstrap4 %}

{% block content %}
    <h1>Search for new friends</h1>
    <table>
      <tr><th>People Around:</th></tr>
      {% for appuser in appusers %}
      <tr>
          {% if appuser.user != user%}
          <td><img src="../static/media/user_placeholder.jpg" alt="Avatar" width="40px" height="40px"></td>
          <td>{{appuser.user.username}}</td> 
          <td>{{appuser.organisation}}</td>
          <td>
            <form method="post" action="{% url 'send_friend_request' appuser.user.id %}">
                {% csrf_token %}
                <input type="submit" value="Add">
            </form>
          </td>          
          {%endif %}
      </tr>   
      {% endfor %}
    </table>
{% endblock %}
