{% extends "./base.html" %}
{% load bootstrap4 %}

{% block content %}

  

  <h2>Upload Image</h2>


<form  method="post"  enctype="multipart/form-data">
    {% csrf_token %}

    <label for="image">Upload Image:</label><br>
    <input type="file" id="image" name="image"><br><br>
    <label for="custom_name">Name:</label><br>
    <input type="text" id="custom_name" name="custom_name"><br><br>
    <input type="submit" value="Submit">
</form>

  <br>
  <a href="{% url 'index' %}">Back to Homepage</a>

{% endblock %}