body {
  font-family: Sans-Serif;
  margin: 0px;
  border: 0px;
  padding: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#application_title
{
    display: inline;
}


#header{
    width: 100%;
    background-color: #7f96ba;
    color: #ffffff;
}

#navigation{
    width: 100%;
    background-color: #081866;
    color: #ffffff;
    padding: 2px;
}

#application_title
{
    display: inline;
    vertical-align: middle;
}

#logo{
    vertical-align: middle;
    height: 50px;
    width: 50px
}

#header{
    vertical-align: middle;
    width: 100%;
    background-color: #285db9;
}

a { text-decoration: none;
    color: #2862b9 }

a:hover {
    color: #3bcacf
}    
.nav_link {
    color: white;
}

.nav-link {
   color: white;
}

.navbar{
  padding: 0px;
}

#content{
    padding-left: 10px;
    float: left;
}

/* CSS for the list of images */
.image-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Allow images to wrap to the next line */
}

/* CSS for each image item */
.image-item {
    margin: 10px; /* Add margin for spacing between images */
}

/* CSS to scale images to a specific width */
.scaled-image {
    width: 200px; /* Set the desired width for the images */
    height: auto; /* Automatically adjust the height to maintain aspect ratio */
}



/* Define the edit button styles */
.edit-button {
    width: 20px; /* Set the width of the button */
    height: 20px; /* Set the height of the button */
    background-color: #f0f0f0; /* Background color of the button */
    border: none; /* Remove the button border */
    border-radius: 50%; /* Make the button round */
    cursor: pointer; /* Add a pointer cursor on hover */
    outline: none; /* Remove the button outline when clicked */
}

/* Create a pencil icon using CSS pseudo-elements */
.edit-button::before {
    content: "\270E"; /* Unicode character for a pencil icon */
    font-size: 16px; /* Set the font size of the icon */
    color: #333; /* Color of the icon */
    display: block; /* Display the icon as a block element */
    text-align: center; /* Center the icon horizontally */
    line-height: 20px; /* Center the icon vertically */
}




#footer{
    
    padding-left: 10px;    
    width: 100%;
    float: left;
    position:absolute;
    bottom: 0;
}




